body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}

.header{
   background-color: rgb(252, 243, 229);  
   background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

 /* -------this is nav related section ------ */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    color: black;
    font-size:45px;
    font-weight: 800px;
}
.text-primary{
    color: rgb(250, 184, 3);
}
.btn-primary{
    background: rgb(250, 184, 3);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    padding: 15px 35px;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 50px;
    
}
nav a{
    text-decoration: none;
}

/* ------------this tis banner section ------------- */

.banner{
   padding: 30px 30px 0px 150px;
   align-items: center;
   display: flex;
   justify-content: space-between;

}
.banner-content{
    max-width: 500px;
}

.profile-pic{
    width: 500px;
    
}
.banner-getting{
    font-size: 45px;
    color: rgb(146, 145, 145);
    margin-bottom: 0px;
    
}
.bannet-title{
    font-size: 75px; 
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* --------this is main section related style ---------- */

/* ---------this is about section style -------------*/

.about{
    padding: 130px;
    border-radius: 10px;
    background-color:rgb(252, 243, 229) ;
    margin: 130px 100px;
}
.section-title{
    text-align: center;
    color: black;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#757575 ;
    text-align: center;
    font-size: 18px;
}