body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}

.header{
   background-color: rgb(252, 243, 229);  
   background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

 /* -------this is nav related section ------ */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    color: black;
    font-size:45px;
    font-weight: 800px;
}
.text-primary{
    color: rgb(250, 184, 3);
}
.btn-primary{
    background: rgb(250, 184, 3);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    padding: 15px 35px;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 50px;
    
}
nav a{
    text-decoration: none;
}

/* ------------this tis banner section ------------- */

.banner{
   padding: 30px 30px 0px 150px;
   align-items: center;
   display: flex;
   justify-content: space-between;

}
.banner-content{
    max-width: 500px;
}

.profile-pic{
    width: 500px;
    
}
.banner-getting{
    font-size: 45px;
    color: rgb(146, 145, 145);
    margin-bottom: 0px;
    
}
.bannet-title{
    font-size: 75px; 
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* --------this is main section related style ---------- */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

/* ---------this is about section style -------------*/

.about{
    padding: 130px;
    border-radius: 10px;
    background-color:rgb(252, 243, 229) ;
    margin: 130px 0px;
}
.section-title{
    text-align: center;
    color: black;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#757575 ;
    text-align: center;
    font-size: 18px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    
}
 .about-info{
  text-align: center;
} 

/*--------- what I do section  -----------*/

#what-i-do-description{
    padding:30px 150px ;
}
.skills-container{
    display: flex;
    gap: 24px;
    padding: 50px;
    background-color: #ffffff;
}
 .skill{
    padding: 30px;
    background: #ffffff;
    border-radius: 5px;
    /* box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); */
    box-shadow: 0px 6px 50px 0px #0a0a0a1e;

} 

/*----------- resume section style -------------*/

.resume-container{
    display: flex;
    gap: 50px;
}
.resume-container hr{
    margin: 30px 5px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: 700;
    color: rgb(71, 71, 71);
}
.resume-item-title{
    font-size: 25px;
    font-weight: 700;
    color: rgb(65, 64, 64);
    margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
    color: rgb(131, 129, 129);
}
.resume-item-description{
    color: rgb(131, 129, 129);
}
.download-cv{
    text-align: center;
    /* padding: 30px 0px 30px 0px; */
    margin-top: 50px;
}

/*--------- this is footer section ----------*/
footer{
    display: flex;
    gap: 100px;
    background: rgb(252, 243, 229) ;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-column{
    width: 50%;
} 
.social-link a{
margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #ffffff;
    border: 0;
    width: 100%;
}